<div class="comment-container {{this.className}}">
    <div class="comment-avatar-container">
        <a role="button" href="/" aria-label="See user profiles" class="profile-avatar-link">
            <img src="{{this.author.profilePicUrl}}" alt="profile picture" class="profile-avatar scale" />
        </a>
    </div>
    <p class="comment-info">
        <a role="button" href="/" aria-label="See user profiles" tabindex=0>
            <span class="profile-name">{{this.author.name}}</span>
        </a>
        <span class="comment-timestamp">{{formatTimestamp this.timestamp}}</span>
    </p>
    <p class="comment-body">{{this.content}}</p>
    <div class="comment-footer">
        <button class="upvote-btn {{this.likeClassName}}" data-commentid="{{this.id}}"
            data-likecount="{{this.likeCount}}">&#9650;
            Upvote</button>
        <button class="reply-btn" data-id="{{getParentId this.parentId this.id}}">Reply</button>
    </div>
</div>