<label class="profile-info" for="profile-{{this.name}}">
    <img src="{{this.profilePicUrl}}" alt="profile picture of {{this.name}}" class="profile-avatar" />
    <input type="radio" class="profile-radio" name="profile-radio" id="profile-{{this.name}}" data-id="{{this.id}}">
    <span class="profile-name">
        {{this.name}}
    </span>
</label>